*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--LightGray);
    width: 100%;
    height: 100vh;
}

:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);   

    --fuente:Karla;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 250px 350px;
}


/* Primera caja */

.box1{
    margin: 80px 30px 0;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

h1{
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 2rem;
    color: var(--Cyan);
    margin: 30px 20px;
}

.textoVerde{
    color: var(--BrightYellow);
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--fuente);
    margin: 20px;
}

.textoBox1{
    font-size: 1.2rem;
    font-family: var(--fuente);
    color: var(--GrayishBlue);
    margin: 20px;
    line-height: 25px;
}



/* Segunda caja */

.box2{
    display: flex;
    flex-direction: column;
    margin:0 30px 0;
    background-color: var(--Cyan);
}

.box2 h2{
    margin: 20px;
    color: var(--LightGray);
    font-size: 1.6rem;
    font-family: var(--fuente);
    font-weight: 700;
}

span{
    margin-left: 20px;
    display: inline-block;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 3.4rem;
    color: var(--LightGray);
}

.box2__precio-mes{
    margin: 0 10px;
    display: inline-block;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--GrayishBlue);
    vertical-align: calc(50% );
}

.box2__precio-dia{
    margin: 15px 20px;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--LightGray);
}

button{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    align-self: center;
    border-radius: 8px;
    background-color: var(--BrightYellow);
    border: none;
    color: var(--LightGray);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

/* Caja 3 */

.box3{
    margin: 0 30px 70px;
    background-color: hsl(179, 64%, 53%);;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box3 h2{
    margin: 30px;
    color: var(--LightGray);
    font-size: 2rem;
    font-family: var(--fuente);
    font-weight: 700;
}

.box3 p{
    margin: 0 30px;
    font-family: var(--fuente);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--LightGray);
    line-height: 24px;
}