
.container{
    height: 100%;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 240px 280px;
    justify-content: center;
    align-content: center;
}

.box1,.box2,.box3{
    margin: 0;
    width: 100%;
    height: 100%;
}


/* Caja 1 */
.box1{
    grid-area: 1/1/1/3;
}

h1{
    font-size: 2.2rem;
    margin: 50px 40px 30px;
}

.textoVerde{
    font-size: 1.8rem;
    margin: 20px 40px;
}

.textoBox1{
    font-size: 1.6rem;
    margin: 20px 100px 0 40px;
}

/* Caja 2 */

.box2{
    border-bottom-left-radius: 8px;
}

.box2 h2{
    margin: 40px 40px 20px;
}

span{
    margin-left: 40px;
}

.box2__precio-dia{
    margin: 15px 40px;
}

button{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    align-self: center;
    border-radius: 8px;
    background-color: var(--BrightYellow);
    border: none;
    color: var(--LightGray);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}


/* Caja 3 */

.box3{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
}
